@import "tailwindcss";

@font-face {
  font-family: "Satoshi Black";
  src: url("/fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi BlackItalic";
  src: url("/fonts/Satoshi-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi Bold";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi BoldItalic";
  src: url("/fonts/Satoshi-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi Italic";
  src: url("/fonts/Satoshi-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi Light";
  src: url("/fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi LightItalic";
  src: url("/fonts/Satoshi-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi Medium";
  src: url("/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi MediumItalic";
  src: url("/fonts/Satoshi-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi Regular";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-blue-100: #1e3a8a;
  --color-blue-200: #f4f3ff;
  --color-blue-300: #0B1532;

}

body {
  font-family: "Satoshi", sans-serif;
}

.heroBackground {
  min-height: 100vh;
  background-image: url('/illustration-workers.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

@media (max-width: 767px) {
  .heroBackground {
    background-position: top;
    /* background-size: contain; */
    min-height: 500px; 

  }
}

