@import "tailwindcss";


@font-face {
  font-family: "Satoshi Black";
  src: url("/fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi BlackItalic";
  src: url("/fonts/Satoshi-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi Bold";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi BoldItalic";
  src: url("/fonts/Satoshi-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi Italic";
  src: url("/fonts/Satoshi-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi Light";
  src: url("/fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi LightItalic";
  src: url("/fonts/Satoshi-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi Medium";
  src: url("/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi MediumItalic";
  src: url("/fonts/Satoshi-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi Regular";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-darkblue: #1E3A8A;
  --color-blue-200: #f4f3ff;
  --color-blue-300: #0B1532;
  --color-blue-400:#AFD1FA;
  --color-blue-500:#14275E;
  --color-lightblue-100:#F4F3FF;
  --color-lightblue-200:#D5E7FC;
  --color-orange-100:#FEBC23;
  --color-orange-200:#F6E8D3;
}


@layer utilities {
  .animate-draw {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 1s ease-in-out forwards;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
}


body {
  font-family: "Satoshi", sans-serif;
}


a {
  @apply cursor-pointer;
}

.animate-draw {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 1s ease-in-out forwards;
}

@media (max-width: 767px) {

}


